@model Owner
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Model.Birthday.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            Passport information
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportInfo)
        </dd>
        <dt class = "col-sm-2">
            License's number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseNumber)
        </dd>
        <dt class = "col-sm-2">
            Date of getting license
        </dt>
        <dd class = "col-sm-10">
            @Model.LicenseStart.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            Date of license end
        </dt>
        <dd class = "col-sm-10">
            @Model.LicenseEnd.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            Extra information
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraInformation)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
