@model OwnerViewModel
@{
    ViewData["Title"] = "Owners";
}
<h1>List of owners</h1>
<p>
    <a asp-action="Create">Add owner</a>
</p>
<form method="get">
    <div class="form-inline">
        <label>Categories: </label>
        <input name="categories" value="@Model.FilterViewModel.SelectedCategories" class="form-control" />
        <label>Only owners without license: </label>
        <input name="didLicenseFinish" type="checkbox" class="form-check-input" value="@Model.FilterViewModel.SelectedLicense" />
        <input type="submit" value="Find" class="btn btn-outline-dark" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
                asp-route-categories="@(Model.FilterViewModel.SelectedCategories)"
                asp-route-didLicenseFinish="@(Model.FilterViewModel.SelectedLicense)">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.SurnameSort)"
                asp-route-categories="@(Model.FilterViewModel.SelectedCategories)"
                asp-route-didLicenseFinish="@(Model.FilterViewModel.SelectedLicense)">Surname</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.PatronymicSort)"
                asp-route-categories="@(Model.FilterViewModel.SelectedCategories)"
                asp-route-didLicenseFinish="@(Model.FilterViewModel.SelectedLicense)">Patronymic</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.AgeSort)"
                asp-route-categories="@(Model.FilterViewModel.SelectedCategories)"
                asp-route-didLicenseFinish="@(Model.FilterViewModel.SelectedLicense)">Birthday</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Owners) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index" 
page-url-categories="@(Model.FilterViewModel.SelectedCategories)"
           page-url-didLicenseFinish="@(Model.FilterViewModel.SelectedLicense)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>