@model StolenCar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stolen car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Date of writting statement
        </dt>
        <dd class = "col-sm-10">
            @Model.StatementDate.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            Insurance type
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Circumstances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Circumstances)
        </dd>
        <dt class = "col-sm-2">
            Mark about finding
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkAboutFinding)
        </dd>
        <dt class = "col-sm-2">
            Theft date
        </dt>
        <dd class = "col-sm-10">
            @Model.TheftDate.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>
        <dd class = "col-sm-10">
            @Model.Inspector.Surname @Model.Inspector.Name @Model.Inspector.Patronymic, @Model.Inspector.Birthday.ToLongDateString()
        </dd>
        <dt class = "col-sm-2">
            Car's registration number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.RegistrationNumber)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
