@model StolenCar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StolenCar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Circumstances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Circumstances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarkAboutFinding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarkAboutFinding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheftDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheftDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inspector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inspector.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Car)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Car.RegistrationNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
