@model StolenCarViewModel
@{
    ViewData["Title"] = "Stolen cars";
}
<h1>Here we can see all stolen cars</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Add stolen car</a>
</p>
<hr />
<div class="col-md-3">
    <form method="get">
        <div class="form-group">
            <label>Car brand name: </label>
            <input name="carBrandName" value="@Model.FilterViewModel.SelectedCarBrand" class="form-control" />
        </div>
        <div class="form-group">
            <label>Engine number of car:</label>
            <input name="engineNumber" value="@Model.FilterViewModel.SelectedEngineNumber" class="form-control" />
        </div>
        <div class="form-group">
            <label>Only cars which were not found:</label>
            <input name="mark" type="checkbox" class="form-check-input" value="@Model.FilterViewModel.SelectedMark" />
            <br />
        </div>
        <div class="form-group">
            <label>Theft date from</label>
            <input name="theftStart" type="date" value="@Model.FilterViewModel.SelectedTheftStart" class="form-control" />
        </div>
        <div class="form-group">
            <label>to:</label>
            <input name="theftEnd" type="date" value="@Model.FilterViewModel.SelectedTheftEnd" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Find" class="btn btn-success" />
        </div>
    </form>
</div>
<hr />
<table class="table table-striped">
    <tr class="bg-success">
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.BodyNumberSort)"
            asp-route-carBrandName="@(Model.FilterViewModel.SelectedCarBrand)"
            asp-route-engineNumber="@(Model.FilterViewModel.SelectedEngineNumber)"
            asp-route-mark="@(Model.FilterViewModel.SelectedMark)"
            asp-route-theftStart="@(Model.FilterViewModel.SelectedTheftStart)"
            asp-route-theftEnd="@(Model.FilterViewModel.SelectedTheftEnd)">Body number</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.RegistrationNumberSort)"
            asp-route-carBrandName="@(Model.FilterViewModel.SelectedCarBrand)"
            asp-route-engineNumber="@(Model.FilterViewModel.SelectedEngineNumber)"
            asp-route-mark="@(Model.FilterViewModel.SelectedMark)"
            asp-route-theftStart="@(Model.FilterViewModel.SelectedTheftStart)"
            asp-route-theftEnd="@(Model.FilterViewModel.SelectedTheftEnd)">Registration number</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.MarkAboutFindingSort)"
            asp-route-carBrandName="@(Model.FilterViewModel.SelectedCarBrand)"
            asp-route-engineNumber="@(Model.FilterViewModel.SelectedEngineNumber)"
            asp-route-mark="@(Model.FilterViewModel.SelectedMark)"
            asp-route-theftStart="@(Model.FilterViewModel.SelectedTheftStart)"
            asp-route-theftEnd="@(Model.FilterViewModel.SelectedTheftEnd)">Mark about finding</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.TheftDateSort)"
            asp-route-carBrandName="@(Model.FilterViewModel.SelectedCarBrand)"
            asp-route-engineNumber="@(Model.FilterViewModel.SelectedEngineNumber)"
            asp-route-mark="@(Model.FilterViewModel.SelectedMark)"
            asp-route-theftStart="@(Model.FilterViewModel.SelectedTheftStart)"
            asp-route-theftEnd="@(Model.FilterViewModel.SelectedTheftEnd)">Theft date</a>
        </th>
        <th class="text-white">Operations</th>
    </tr>
@foreach (var item in Model.StolenCars) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Car.BodyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Car.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarkAboutFinding)
        </td>
        <td>
            @item.TheftDate.ToLongDateString()
        </td>
        <td>
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
<page-link page-model="Model.PageViewModel" page-action="Index" 
           page-url-carBrandName="@(Model.FilterViewModel.SelectedCarBrand)"
           page-url-engineNumber="@(Model.FilterViewModel.SelectedEngineNumber)"
           page-url-mark="@(Model.FilterViewModel.SelectedMark)"
           page-url-theftStart="@(Model.FilterViewModel.SelectedTheftStart)"
           page-url-theftEnd="@(Model.FilterViewModel.SelectedTheftEnd)"
           page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>