@model CarBrandViewModel
@{
    ViewData["Title"] = "Car brands";
}
<h1>Here we can see all car brands</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Add car brand</a>
</p>
<table class="table table-striped">
    <tr class="bg-success">
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.NameSort)">Name</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.ProducerSort)">Producer</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CountrySort)">Country</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.DateStartSort)">Date of start producing</a>
        </th>
        <th>
            <a class="text-white" asp-action="Index" asp-route-sortOrder="@(Model.SortViewModel.CategorySort)">Category</a>
        </th>
        <th class="text-white">Operations</th>
    </tr>
@foreach (var item in Model.CarBrands) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @item.DateStart.ToLongDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
</table>
<page-link page-model="Model.PageViewModel" page-action="Index" page-url-sortorder="@(Model.SortViewModel.Current)"></page-link>
